@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.container{

	width:50%;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
	color: white;
    border: 2px solid black;
    border-radius: 20px; 
    background-color: lightblue;
    margin-bottom: 25px
    
}

body{
    height: 100%;
	background: url(blurr.jpg) no-repeat;
	background-size: cover;	
    box-sizing: border-box;
}

h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem; 
	font-family: 'Hind', sans-serif;
}

#input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

#add{
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: mediumblue;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.remove{
    background: none;
    outline: none;
    border: none;
    font-size: 1.4rem;
    font-family: 'Hind', sans-serif;
    cursor: pointer;
    color: red;
    width: 40px;
    height: 40px
}

.title {
    color: dodgerblue;
}

.footer {
    background: none;
    outline: none;
    border: none;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
}


.comeBack {
   outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: mediumblue;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem; 
    font-size:30px
}

.href {
    border: 2px solid black;
  border-radius: 5px;
  background-color: black
}

.inContainer {
    color: mistyrose;
    border-radius: 5px;
    background-color: dodgerblue

}

li{
    color: black;
    font-weight: bold;
}

